@using Newtonsoft.Json
@model BotaniFinder.Models.Root

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-lavender-simple-rose-texture-image_28475.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1, h2, h3 {
        font-family: Verdana;
        font-variant: normal;
    }

</style>
<center>
<h1>Identify Your Own Plant</h1>
</center>

@if (Model != null)
{
    <div>
        <h2>Identification Results</h2>
        <p>Highest Confidence Score: @(Model.Results[0].Score * 100) %</p>
        @if (Model.Results[0].Species != null)
        {
            <p>Score: @(Model.Results[0].Score * 100) %</p>
            <p>Species: @Model.Results[0].Species.ScientificNameWithoutAuthor</p>
            <p>Genus: @Model.Results[0].Species.Genus.ScientificNameWithoutAuthor</p>
            <p>Family: @Model.Results[0].Species.Family.ScientificNameWithoutAuthor</p>
            <p>Image of Plant Species Identified:</p>
            <img src="@Model.Results[0].Image[0].Url.O" />
            <p>Common Names: @string.Join(", ", Model.Results[0].Species.CommonNames)</p>
            <hr></hr>
            <hr></hr>
            <p>Score: @(Model.Results[1].Score * 100) %</p>
            <p>Species: @Model.Results[1].Species.ScientificNameWithoutAuthor</p>
            <p>Genus: @Model.Results[1].Species.Genus.ScientificNameWithoutAuthor</p>
            <p>Family: @Model.Results[1].Species.Family.ScientificNameWithoutAuthor</p>
            <p>Image of Plant Species Identified:</p>
            <img src="@Model.Results[1].Image[1].Url.O" />
            <p>Common Names: @string.Join(", ", Model.Results[1].Species.CommonNames)</p>

        }
        else
        {
            <p>Could not identify the plant.</p>
        }
    </div>
}

<form asp-controller="PlantIdentification" asp-action="Index" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label for="image" >Choose a file from your computer: </label>
        <input type="file" class="form-control-file" id="image" name="image">

    </div>

    <button  type="submit" class="btn btn-primary ">Submit This Image</button>
</form>

